#wpadminbar .bm-icon {
	width: 20px;
	height: 32px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3Cpath d='M924,0H100C44.77,0,0,44.77,0,100v824C0,979.23,44.77,1024,100,1024h824c55.23,0,100-44.77,100-100V100C1024,44.77,979.23,0,924,0ZM556.67,790.49h-221.54c-9.08,0-16.45-7.36-16.45-16.45V249.96c0-9.08,7.36-16.45,16.45-16.45h214.03c99.37,0,146.97,65.97,146.97,141.96,0,59.23-27.39,100.59-66.58,119.58-6.37,3.09-6.08,12.16.42,14.97,44.6,19.22,75.34,70.7,75.34,130.17,0,84.34-47.6,150.31-148.64,150.31Z' fill='%239ca1a7'/%3E%3Cpath d='M526.61,548.94l-21.01-4.78c-14.98-3.4-25.6-16.72-25.6-32.08v-10.37c0-14.94,10.07-28.01,24.53-31.81l23.83-6.27c41.86-10.07,53.37-31.38,53.37-68.96s-19.2-65.97-59.29-65.97h-91.86v366.59h96.03c41.76,0,64.3-26.72,64.3-70.15,0-38.41-22.82-65.61-64.3-76.21Z' fill='%239ca1a7'/%3E%3C/svg%3E") !important;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px;
}

#wpadminbar .bm-support-icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-top: -4px;
	vertical-align: middle;
	opacity: 0.85;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3Cpath d='M924,0H100C44.77,0,0,44.77,0,100v824C0,979.23,44.77,1024,100,1024h824c55.23,0,100-44.77,100-100V100C1024,44.77,979.23,0,924,0ZM556.67,790.49h-221.54c-9.08,0-16.45-7.36-16.45-16.45V249.96c0-9.08,7.36-16.45,16.45-16.45h214.03c99.37,0,146.97,65.97,146.97,141.96,0,59.23-27.39,100.59-66.58,119.58-6.37,3.09-6.08,12.16.42,14.97,44.6,19.22,75.34,70.7,75.34,130.17,0,84.34-47.6,150.31-148.64,150.31Z' fill='%239ca1a7'/%3E%3Cpath d='M526.61,548.94l-21.01-4.78c-14.98-3.4-25.6-16.72-25.6-32.08v-10.37c0-14.94,10.07-28.01,24.53-31.81l23.83-6.27c41.86-10.07,53.37-31.38,53.37-68.96s-19.2-65.97-59.29-65.97h-91.86v366.59h96.03c41.76,0,64.3-26.72,64.3-70.15,0-38.41-22.82-65.61-64.3-76.21Z' fill='%239ca1a7'/%3E%3C/svg%3E") !important;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 16px;
}

#wpadminbar .ab-environment-label {

	.ab-item {
		font-weight: bold;
	}

	&.environment--local,
	&.environment--local {}

	&.environment--production {
		.ab-item {
			background-color: rgba(250, 0, 0, 0.5);
		}

		&:hover .ab-item {
			color: white !important;
			background-color: rgba(250, 0, 0, 0.75) !important;
		}
	}

	&.environment--staging {
		.ab-item {
			background-color: rgba(119, 68, 0, 1);
		}

		&:hover .ab-item {
			color: white !important;
			background-color: rgba(130, 75, 0, 1) !important;
		}
	}

	&.environment--local,
	&.environment--development {
		.ab-item {
			background-color: rgba(80, 80, 80, 1);
		}

		&:hover .ab-item {
			color: white !important;
			background-color: rgba(100, 100, 100, 1) !important;
		}
	}
}

#wpadminbar,
#wpadminbar .menupop .ab-sub-wrapper, #wpadminbar .shortlink-input {
	background-color: #1f2b3d;
}

#wpadminbar .quicklinks .menupop ul.ab-sub-secondary, #wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
	background-color: #2b3b54;
}

#wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus, #wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus, #wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item, #wpadminbar .ab-top-menu > li.hover > .ab-item {
	background-color: #2b3b54;
}
